input[type="submit"]{

    background-color: darkcyan;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
        background-color: teal;
    }
}